.big-cart {
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
}

.cart-container {
  display: block;
  width: 60%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 3%;
  margin-bottom: 3%;
  width: 100%;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item:hover {
  transform: scale(1.02);
}

.cart-item img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
  background-color: #FFF9E5;
}

.cart-details {
  flex: 1;
  text-align: -webkit-center;
}

.quantity-button{
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 2%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.quantity-button button{
  font-size: larger;
}

.cart-details h3 {
  font-size: x-large;
  margin: 0 0 5px;
  color: #333;
}

.cart-details p {
  font-size: large;
  color: #666;
  margin: 3px 0;
}

.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff7875;
}


.cart-footer-carts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2% 4%;
  background-color: #FFF9E5;
  margin-inline-start: 5%;
  text-align: center;
  transition: all 0.3s ease;
  height: 100%;
  
}

.cart-footer-carts:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.cart-footer-carts h1 {
  font-size: xx-large;
  color: #000000;
  font-weight: 700;
  padding: 5%;
}

.cart-footer-carts h3 {
  font-size: large;
  color: #000000;
  font-weight: 500;
  margin-bottom: 5%;
  padding: 5% 0;

}

.cart-footer-carts h3 span {
  font-size: larger;
  color: #B88E2F;
  font-weight: 600;
}

.checkout-button-cart {
  background-color: #FFF9E5;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4%;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.checkout-button-cart:hover {
  background-color: #b88f2f6a;
  transform: scale(1.05);
  color: white;
}

.checkout-button-cart:active {
  transform: scale(0.95);
}

.cart-actions{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .cart-container{
    width: 60%;
  }
}

@media (max-width: 768px) {
  .big-cart {
    display: block;
  }
  
  .cart-container{
    width: 100%;
  }

  .cart-item img {
    width: fit-content;
  }

  .cart-footer-carts{
    width: 100%;
    margin-inline-start: 0;
  }

  .cart-actions{
    padding: 0 33%;
  }
}

@media (max-width: 480px) {
  .quantity-button{
    width: 45%;
  }

  .cart-actions{
    padding: 0 15%;
  }
}