.hbackground{
    height: fit-content;
    background-color: #FBEBB5;
}

.product-showcase {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-section {
    width: 30%;
    text-align: start;
    padding: 0 4%;
}

.text-section h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 0;
    color: #000000;
    text-transform: capitalize;
}

.shop-button {
    border: none;
    margin-top: 5%;
    font-size: 1.2rem; /* Responsive font size */
    font-weight: 600;
    color: #000;
    background-color: transparent;
    border-bottom: 2px solid #333;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Smooth transition */
    outline: none; /* Remove focus outline */
}

.shop-button:hover {
    background-color: rgba(128, 128, 128, 0.2); /* Subtle gray background */
    color: #222; /* Slightly darker text */
    border-bottom-color: #555; /* Darker border on hover */
}

.shop-button:focus {
    outline: 2px solid #555; /* Accessibility focus indicator */
}

.shop-button:active {
    transform: scale(0.98); /* Click effect */
}

.image-section {
    width:fit-content ;
    
}

.image-section img {
    width: 100%;
    height: auto;
}

@media (max-width:767px){

    .text-section h1 {
        font-size: x-large;
    }
    
    .shop-button {
        font-size: smaller;
    }
    
}