.hsec1{
    background-color: #FAF4F4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 3% 0;
}

.piccont{
    display: block;
    width: 40%;
    height: 70vh;
}

.piccont img{
    width: 80%;
    margin-inline-start: 10%;
    height: 55vh;
}

.piccont h2{
    color: #000000;
    font-weight: 600;
}

.piccont button{
    border: none;
    margin-top: 5%;
    font-size: large;
    font-weight: 500;
    color: #000000;
    background-color: transparent;
    border-bottom: 2px solid #333;
    padding: 2%;
}

@media (max-width:767px){
    
    .piccont img{
        width: 70%;
    }
    
    .piccont h2{
        color: #000000;
        font-weight: 600;
    }
    
    .piccont button{
        border: none;
        margin-top: 5%;
        font-size: large;
        font-weight: 500;
        color: #000000;
        background-color: transparent;
        border-bottom: 2px solid #333;
        padding: 2%;
    }
    
}

@media (max-width:480px){

    .piccont img{
        width: fit-content;
        height: 40vh;
        margin-inline-start: 0;
    }
}